.header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 2;
}
.navbar {
    background-color: black !important;
}
.navbar-brand{
    color: white !important;
    font-weight: bold;
}
.nav-link {
    color: white !important;
}
.content {
    padding-top: 80px;
}
button {
    background-color: aquamarine;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.815);
    color: black;
    padding: 5px;

}

button:hover{
    background-color: tomato;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}
.spinner-border{
    height: 100px;
    width: 100px;
}
.a{
    text-decoration: none;
}